separação dos dados

In [4]:
print ('olá mundo !')

olá mundo !

In [3]:
nome = 'ely gabriel'
idade = 19

In [4]:
print ('olá', nome)

olá ely gabriel

In [10]:
pessoa = 'ely'
idade = 19
altura = 1.8
dev = True

In [6]:
type(pessoa)

str

In [7]:
type (idade)

int

In [10]:
type (altura)

float

In [11]:
type (dev)

bool

In [11]:
pessoa = 1234

In [12]:
print (pessoa)

1234

In [13]:
type (pessoa)

int

In [14]:
idade1 = 20

In [15]:
idade2 = 35

In [16]:
idade1 + idade2

55

In [17]:
idade1 - idade2

-15

In [18]:
idade1 * idade2

700

In [19]:
idade / idade2

0.5428571428571428

In [20]:
2 * (idade1 + idade2)

110

In [25]:
2 * idade1 + 3 * idade2 / 4

66.25

In [26]:
(2 * idade1 + 3 * idade2) / 4

36.25

In [27]:
idade **2

361

In [28]:
15 ** 2

225

In [29]:
idade2 // idade1

1

In [30]:
idade / idade1

0.95

In [31]:
idade2 % idade1

15

In [24]:
sobrenome = 'silva'

In [23]:
print (nome + sobrenome)

NameError: name 'nome' is not defined

In [8]:
print ('olá', nome,'\n', 'voce tem', idade1 + 1, 'anos')

NameError: name 'nome' is not defined

In [25]:
input ('digite o seu nome:')

'ely gabriel'

In [26]:
nome = input ('digite seu nome')